.input {
  width: 100%;
  border: 2px red
}
.App {
  text-align: center;
}
.img{
  display: inline-flex;
  background-color: rgba(9,121,36,0.7553615196078431);
  height: 200px;
  width: 200px;
  float: right;
  padding: 50px;
  display: block;
}
.Welcome-message {
  color:black;
  font-size: 200%;
}
.NavBar{
  align-items: stretch;
  color: white;
  gap: 4rem;
  padding: 2rem 2rem;
  display: inline-block;
  justify-content: space-between;
  display: top
}
.Nav-Links-Home{
  color: rgb(0, 0, 0);
  text-align: right;
  list-style-type: none;
  display: inline-block;
  padding: 2rem;
}
.Nav-Links-Home:hover{
  color:#d406eb
}
.Nav-Links-Cards{
  color: rgb(0, 0, 0);
  text-align: right;
  list-style-type: none;
  display: inline-block;
  padding: 2rem;
}
.Nav-Links-Cards:hover{
  color:#d406eb
}
.Nav-Links-Decks{
  color: rgb(0, 0, 0);
  text-align: right;
  list-style-type: none;
  display: inline-block;
  padding: 2rem;
}
.Nav-Links-Decks:hover{
  color:#d406eb
}
.Nav-Links-Signup{
  color: rgb(0, 0, 0);
  text-align: right;
  list-style-type: none;
  display: inline-block;
  padding: 2rem;
}
.Nav-Links-Signup:hover{
  color:#d406eb
}
.home-btn{
  color:#271800;
  display: inline-block;
  text-align: center;
  height: 100px;
  width: 100px;
  position: fixed;
  display: block;
  top: 65px;
  right: 25px
}
.home-btn:hover{
  color:#d406eb
}
.Cards-card{
  display: inline-block;
  color: black;
  height: 125px;
  width: 200px;
  padding: 10px;
  margin: 50px;
  border: 4px solid black;
  background-color: transparent;
  align-content: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #1ba411;
}
.Login-Submit-button {
  background: #d406eb;
  background-image: -webkit-linear-gradient(top, #cc1010, #b82b2f);
  background-image: -moz-linear-gradient(top, #cc1010, #b82b2f);
  background-image: -ms-linear-gradient(top, #cc1010, #b82b2f);
  background-image: -o-linear-gradient(top, #cc1010, #b82b2f);
  background-image: linear-gradient(to bottom, #cc1010, #b82b2f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 21px;
  padding: 4px 4px 4px 4px;
  text-decoration: none; 
}
.Login-Submit-button:hover {
  background: #e09107;
  background-image: -webkit-linear-gradient(top, #e09107, #e09107);
  background-image: -moz-linear-gradient(top, #e09107, #e09107);
  background-image: -ms-linear-gradient(top, #e09107, #e09107);
  background-image: -o-linear-gradient(top, #e09107, #e09107);
  background-image: linear-gradient(to bottom, #e09107, #e09107);
  text-decoration: none;
}
/* .Login-Form{

} */
.login-fieldset {
  color:#000000;
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 1px;
  border-radius: 6px;
  min-width: 200p;
}
.login-legend {
  font-size: 1.75em;
  padding: 0 .25em;
  color: black
}
.update-fieldset {
  color:#000000;
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 1px;
  border-radius: 6px;
  min-width: 200p;
}
.update-legend {
  font-size: 1.75em;
  padding: 0 .25em;
  color: black
}
.signup-fieldset {
  color:#000000;
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 1px;
  border-radius: 6px;
  min-width: 200p;
}
.signup-legend {
  font-size: 1.75em;
  padding: 0 .25em;
  color: black
}
.card-fieldset {
  color:#000000;
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 1px;
  border-radius: 6px;
  min-width: 200p;
}
.card-legend {
  font-size: 1.75em;
  padding: 0 .25em;
  color: black
}
.logout-btn {
  background: #cc1010;
  background-image: -webkit-linear-gradient(top, #cc1010, #b82b2f);
  background-image: -moz-linear-gradient(top, #cc1010, #b82b2f);
  background-image: -ms-linear-gradient(top, #cc1010, #b82b2f);
  background-image: -o-linear-gradient(top, #cc1010, #b82b2f);
  background-image: linear-gradient(to bottom, #cc1010, #b82b2f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 21px;
  padding: 6px 6px 6px 6px;
  border: solid #000000 2px;
  text-decoration: none;
  position:fixed;
  right: 30px;
  top: 20px;
}

.logout-btn:hover {
  background: #e09107;
  background-image: -webkit-linear-gradient(top, #e09107, #e09107);
  background-image: -moz-linear-gradient(top, #e09107, #e09107);
  background-image: -ms-linear-gradient(top, #e09107, #e09107);
  background-image: -o-linear-gradient(top, #e09107, #e09107);
  background-image: linear-gradient(to bottom, #e09107, #e09107);
  text-decoration: none;
}
.new-card-btn {
  background: #cc1010;
  background-image: -webkit-linear-gradient(top, #cc1010, #b82b2f);
  background-image: -moz-linear-gradient(top, #cc1010, #b82b2f);
  background-image: -ms-linear-gradient(top, #cc1010, #b82b2f);
  background-image: -o-linear-gradient(top, #cc1010, #b82b2f);
  background-image: linear-gradient(to bottom, #cc1010, #b82b2f);
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 21px;
  padding: .5px .5px .5px .5px;
  border: solid #000000 2px;
  text-decoration: none;
  left: 100px
}

.new-card-btn:hover {
  background: #e09107;
  background-image: -webkit-linear-gradient(top, #e09107, #e09107);
  background-image: -moz-linear-gradient(top, #e09107, #e09107);
  background-image: -ms-linear-gradient(top, #e09107, #e09107);
  background-image: -o-linear-gradient(top, #e09107, #e09107);
  background-image: linear-gradient(to bottom, #e09107, #e09107);
  text-decoration: none;
}
.card-type {
  padding: 10px
}
.card-name {
  padding: 10px
}
.card-color {
  padding: 10px
}
.mana-value {
  padding: 10px;
  right: 80px
}
.card-type-input{
  padding: 10px;
  height: 10px
}
.card-name-input{
  padding: 10px;
  height: 10px
}
.card-color-input{
  padding: 10px;
  height: 10px
}
.mana-value-input{
  padding: 10px;
  height: 10px
}
.render-decks{
  color:#000000;
  height: 20px;
  padding: 5px;
  /* bottom: 200px ; */

}
.render-decks:hover {
  color:#d406eb
}
.add-card-btn {

  border-radius: 20px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 15px;
  font-weight: 100;
  padding: 5px;
  right: 200px;
  background-color: #3D94F6;

  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: groove #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.add-card-btn:hover {
  border: solid #000000 1px;
  background: #E09107;
  background-image: -webkit-linear-gradient(top, #E09107, #E09107);
  background-image: -moz-linear-gradient(top, #E09107, #E09107);
  background-image: -ms-linear-gradient(top, #E09107, #E09107);
  background-image: -o-linear-gradient(top, #E09107, #E09107);
  background-image: -webkit-gradient(to bottom, #E09107, #E09107);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}