body {
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(17deg, rgba(2,0,36,1) 0%, rgba(9,121,36,0.7553615196078431) 35%, rgba(0,212,255,1) 100%);
  height: 800px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}