body {
  margin: 0;
  background: rgb(12,235,36);
  background: linear-gradient(286deg, rgba(12,235,36,1) 0%, rgba(13,217,202,0.7553615196078431) 35%, rgba(12,235,36,1) 100%);
  height: 800px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}